body {
    margin: 0;
    color: #2e323c;
    position: relative;
    height: 100%;
}
.custom {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #f5f6fa;
}
.card-header {
    background: #fff;
}

.rounded {
    border-radius: 1rem
}

.nav-pills .nav-link {
    color: #555
}

.nav-pills .nav-link.active {
    color: white
}

input[type="radio"] {
    margin-right: 5px
}

.bold {
    font-weight: bold
}
