.content {
    margin-top: 20px;
}

.chat-online {
    color: #34ce57;
}

.chat-offline {
    color: #e4606d;
}

.chat-new {
    color: blue;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow-y: scroll;
}

.conversation {
    cursor: pointer;
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0;
    width: 60%;
}

.chat-message-left {
    margin-right: auto;
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto;
}
.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}
.flex-grow-0 {
    flex-grow: 0 !important;
}
.border-top {
    border-top: 1px solid #dee2e6 !important;
}
.list-friends {
    overflow-y: scroll;
    max-height: 900px;
}
#message {
    width: 600px;
}

.small-text {
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
}

.avatar {
    width: 40px;
    height: 40px;
}
